<?xml version="1.1" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:soap="http://cxf.apache.org/bindings/soap"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd">
    
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    <!-- 
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
     -->
	
	<bean id="mqSend" class="com.tax.mq.service.MqSend" />
     
	<jaxws:endpoint implementor = "#mqSend" address="/mqSend" publish="true" />
	
	
	<!-- <http-conf:conduit name = "http://www.chinatax.gov.cn/spec/Gt3AipWebServiceSoapPort.http-conduit" >
	    <http-conf:client  ConnectionTimeout="300000"   ReceiveTimeout = "300000"   /> 
        ConnectionTimeout  握手等待时间 10000毫秒  10秒  ; ReceiveTimeout  等待回应时间  20000毫秒  20秒      
	</http-conf:conduit>
	
	<bean id="g3wsclient" class="com.zxt.cxf.webservice.Gt3AipWebService"  factory-bean="g3wsclientFactory" factory-method="create"  ></bean>
	
	<bean id="g3wsclientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
	    <property name="serviceClass" value ="com.zxt.cxf.webservice.Gt3AipWebService" />
		<property name="address" value ="http://88.16.32.81:8201/Gt3AipWebService" />
	</bean> -->
</beans>
